In [1]:
import pandas as pd
from IPython.display import display, Markdown

In [2]:
df = pd.read_json("bug_full_5339.json")

In [3]:
df.head()

,Unnamed: 0.1,Unnamed: 0,eq1,action,Input,eq2,Outcome,Previous Action,Feedback,Filtered Feedback,label,Label Name
0,0,0,-6=3+y/9,DIV_SIDE,9,-6/9=3+y/9/9,BUG,None,To remove the coefficient of <expression>y/9</...,"To remove the coefficient of , you need to div...",10,DIVIDE_TO_SIMPLIFY
1,1,8,-9=y/9,DIV_SIDE,9,-9/9=y/9/9,BUG,None,To remove the coefficient of <expression>y/9</...,"To remove the coefficient of , you need to div...",10,DIVIDE_TO_SIMPLIFY
2,2,18,-7=-x,DIV_SIDE,1,-7/1=-x/1,BUG,None,"In this equation, x is multiplied by <expressi...","In this equation, x is multiplied by . Dividin...",14,DIVIDE_NEGATIVE_BETTER
3,3,30,x=4/-4,COMBINE_MUL,1,x=1,BUG,divide,You are dividing a positive by a negative. Th...,You are dividing a positive by a negative. Th...,9,DIVIDE_MULTIPLY_OPP_SIGNS
4,4,52,-45x=-10,DIV_SIDE,45,-45x/45=-10/45,BUG,None,"In this equation, x is multiplied by <expressi...","In this equation, x is multiplied by . Dividin...",14,DIVIDE_NEGATIVE_BETTER

In [7]:
df.iloc[3]['Filtered Feedback']

'You are dividing a positive by a negative.  The result should be negative.'

In [4]:
# Display all unique label names
unique_labels = df['Label Name'].unique()

In [5]:
unique_labels

array(['DIVIDE_TO_SIMPLIFY', 'DIVIDE_NEGATIVE_BETTER',
       'DIVIDE_MULTIPLY_OPP_SIGNS', 'WRONG_OPERATION', 'REVERSED_SIDES',
       'CHECK_SIGN', 'SIMPLIFY_LATER', 'FORGOT_NEGATIVE',
       'FORGOT_VARIABLE', 'FOCUS_ON_VARIABLE',
       'REMOVE_VARIABLE_DENOMINATOR', 'SIMPLIFY_FRACTION',
       'COMBINE_LIKE_TERMS', 'SUBTRACT_TO_REMOVE', 'ISOLATE_HINT',
       'EXPRESSION_NOT_EQUIVALENT', 'ADD_TO_REMOVE', 'DIVIDE_TO_ISOLATE',
       'MULTIPLY_TO_SIMPLIFY'], dtype=object)

In [6]:
len(unique_labels)

19

In [19]:
# Display three examples for each unique label
for label in unique_labels:
    display(Markdown(f"### Label Name: {label}"))

    # Filter the DataFrame for the current label and display up to three examples
    examples = df[df['Label Name'] == label].head(3)

    # Display the examples in a table format, selecting relevant columns
    display(examples[['eq1', 'action', 'Feedback', 'eq2']])

    display(Markdown("---"))

### Label Name: DIVIDE_TO_SIMPLIFY

,eq1,action,Feedback,eq2
0,-6=3+y/9,DIV_SIDE,To remove the coefficient of <expression>y/9</...,-6/9=3+y/9/9
1,-9=y/9,DIV_SIDE,To remove the coefficient of <expression>y/9</...,-9/9=y/9/9
13,x/8=-5,DIV_SIDE,To remove the coefficient of <expression>x/8</...,x/8/8=-5/8

---

### Label Name: DIVIDE_NEGATIVE_BETTER

,eq1,action,Feedback,eq2
2,-7=-x,DIV_SIDE,"In this equation, x is multiplied by <expressi...",-7/1=-x/1
4,-45x=-10,DIV_SIDE,"In this equation, x is multiplied by <expressi...",-45x/45=-10/45
8,-3.5y=-6,DIV_SIDE,"In this equation, y is multiplied by <expressi...",-3.5y/3.5=-6/3.5

---

### Label Name: DIVIDE_MULTIPLY_OPP_SIGNS

,eq1,action,Feedback,eq2
3,x=4/-4,COMBINE_MUL,You are dividing a positive by a negative. Th...,x=1
16,-28/3=3y/3,COMBINE_MUL,You are dividing a negative by a positive. Th...,9.333=3y/3
18,x=-966.48/14.8,COMBINE_MUL,You are dividing a negative by a positive. Th...,x=65.302

---

### Label Name: WRONG_OPERATION

,eq1,action,Feedback,eq2
5,49+16=23x+16x-16+16,COMBINE_ADD,<expression>33</expression> is equal to <expre...,33=23x+16x-16+16
23,-158x+546-546=-17-546,COMBINE_ADD,<expression>529</expression> is equal to <expr...,-158x+546-546=529
329,3+(-y/5)-3=-7-3,COMBINE_ADD,<expression>-4</expression> is equal to <expre...,-4=-7-3

---

### Label Name: REVERSED_SIDES

,eq1,action,Feedback,eq2
6,-38-36=-x-12x+36-36,COMBINE_ADD,<expression>38-36</expression> is equal to <ex...,38-36=-x-12x+36-36
15,y-4y=9,COMBINE_ADD,You need to calculate <expression>8</expressio...,y-4y=-9
17,6.2y=1.1-47.74,COMBINE_ADD,You need to calculate <expression>1.1</express...,6.2y=46.64

---

### Label Name: CHECK_SIGN

,eq1,action,Feedback,eq2
7,-38-36=-x-12x,COMBINE_ADD,<b>74</b><hr>Check your sign.,74=-x-12x
11,-32.7y+21.9y=39.8,COMBINE_ADD,<b>10.8y</b><hr>Check your sign.,10.8y=39.8
88,-5+10=-10+y+10,COMBINE_ADD,The result should be positive.,-5=-10+y+10

---

### Label Name: SIMPLIFY_LATER

,eq1,action,Feedback,eq2
10,-32.7y+21.9y-44.9+44.9=-5.1+44.9,COMBINE_ADD,Just add <expression>-32.7y+21.9y-44.9</expres...,-10.8y=-5.1+44.9
12,27.2/-47.7=(-48.7y+y)/-47.7,COMBINE_MUL,Just divide <expression>-48.7y+y</expression> ...,27.2/-47.7=y
85,-5=(2+(y/-5))*-5,COMBINE_MUL,Just multiply <expression>1</expression> by <e...,-5=-5

---

### Label Name: FORGOT_NEGATIVE

                  eq1       action                       Feedback        eq2
14             -10y=4  COMBINE_ADD  You forgot the negative sign.      10y=4
21      339=-6x+18-18  COMBINE_ADD  You forgot the negative sign.     339=6x
153  -5y-30+30=-31+30  COMBINE_ADD  You forgot the negative sign.  5y=-31+30

---

### Label Name: FORGOT_VARIABLE

                           eq1       action           Feedback             eq2
26   1.93x-1.35+1.35=7.31+1.35  COMBINE_ADD  You forgot the x.  1.93=7.31+1.35
44                  -5y+4-4=-2  COMBINE_ADD  You forgot the y.           -5=-2
118             -3-5=5+(-4x)-5  COMBINE_ADD  You forgot the x.         -3-5=-4

---

### Label Name: FOCUS_ON_VARIABLE

,eq1,action,Feedback,eq2
27,x/-10=10,MUL_SIDE,Focus on the side of the equation with the var...,x/-10*10=10*10
36,9=-y,DIV_SIDE,Focus on the side of the equation with the var...,9/9=-y/9
37,9=-y,DIV_SIDE,Focus on the side of the equation with the var...,9/9=-y/9

---

### Label Name: REMOVE_VARIABLE_DENOMINATOR

,eq1,action,Feedback,eq2
32,y/-4=1,MUL_SIDE,To remove the denominator of y you need to mul...,y/-4*1=1*1
108,-8/y=1,MUL_SIDE,To remove y from the denominator you need to m...,-8/y*-8=1*-8
323,y/2=1,MUL_SIDE,To remove the denominator of y you need to mul...,y/2*1=1*1

---

### Label Name: SIMPLIFY_FRACTION

,eq1,action,Feedback,eq2
33,y/-4=1,MUL_SIDE,Simplify the fraction <expression>y/-4</expres...,y/-4*-1=1*-1
38,y=-9/-4,COMBINE_MUL,This fraction is not simplified.,y=-9/-4
46,y=-2/-5,COMBINE_MUL,This fraction is not simplified.,y=-2/-5

---

### Label Name: COMBINE_LIKE_TERMS

,eq1,action,Feedback,eq2
40,-4y+(-9)+9=-4+9,ADD_SIDE,You can place the expression in a more simplif...,-4y+(-9)+9+4=-4+9+4
119,-3-5=-4x,ADD_SIDE,You can place the expression in a more simplif...,-3-5+3=-4x+3
120,-3-5=-4x,SUB_SIDE,You can place the expression in a more simplif...,-3-5-5=-4x-5

---

### Label Name: SUBTRACT_TO_REMOVE

,eq1,action,Feedback,eq2
41,3=-3x+5,ADD_SIDE,"Since <expression>5</expression> is positive, ...",3+5=-3x+5+5
43,-6=5+(-7x),ADD_SIDE,"Since <expression>5</expression> is positive, ...",-6+5=5+(-7x)+5
60,5+(-6y)=1,ADD_SIDE,"Since <expression>5</expression> is positive, ...",5+(-6y)+5=1+5

---

### Label Name: ISOLATE_HINT

,eq1,action,Feedback,eq2
42,-5x=16,ADD_SIDE,"In <expression>-5x</expression>, x is multipli...",-5x+5=16+5
212,3=-7y,ADD_SIDE,"In <expression>-7y</expression>, y is multipli...",3+7=-7y+7
214,3=-7y,ADD_SIDE,"In <expression>-7y</expression>, y is multipli...",3+7=-7y+7

---

### Label Name: EXPRESSION_NOT_EQUIVALENT

,eq1,action,Feedback,eq2
47,y=-2/-5,COMBINE_MUL,This expression is not equivalent to the fract...,y=2-5
48,y=-2/-5,COMBINE_MUL,This expression is not equivalent to the fract...,y=-2/1
49,y=-2/-5,COMBINE_MUL,This expression is not equivalent to the fract...,y=-2+-5/1

---

### Label Name: ADD_TO_REMOVE

,eq1,action,Feedback,eq2
51,-10y+(-8)=5,SUB_SIDE,"Since <expression>-8</expression> is negative,...",-10y+(-8)-8=5-8
52,-10y+(-8)=5,SUB_SIDE,"Since <expression>-8</expression> is negative,...",-10y+(-8)-8=5-8
53,-10y+(-8)=5,SUB_SIDE,"Since <expression>-8</expression> is negative,...",-10y+(-8)-8=5-8

---

### Label Name: DIVIDE_TO_ISOLATE

,eq1,action,Feedback,eq2
54,-10y=13,DIV_SIDE,Dividing anything by itself will leave 1. If y...,-10y/-10y=13/-10y
56,7y=-4,DIV_SIDE,Dividing anything by itself will leave 1. If y...,7y/7y=-4/7y
99,-x=-9,DIV_SIDE,Dividing anything by itself will leave 1. If y...,-x/-x=-9/-x

---

### Label Name: MULTIPLY_TO_SIMPLIFY

,eq1,action,Feedback,eq2
111,y=-8/y*y,DIV_SIDE,Put the expression in its simplest form by per...,y/y=-8/y*y/y
112,y=-8/y*y,DIV_SIDE,Put the expression in its simplest form by per...,y/-y=-8/y*y/-y
165,-0.13321491=1x-0.50799289,DIV_SIDE,Put the expression in its simplest form by per...,-0.13321491/1=1x-0.50799289/1

---